<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AirportUrl" value="https://localhost:7184/api/airports/" />
	<add key="BookingUrl" value="https://localhost:7184/api/bookings/" />
	<add key="FlightUrl" value="https://localhost:7184/api/flights/" />
	<add key="PassengerUrl" value="https://localhost:7184/api/passengers/" />
	<add key="SeatUrl" value="https://localhost:7184/api/seats/" />  
  </appSettings>
</configuration>