@using UCNAirlinesWebpage.Models
@model UCNAirlinesWebpage.Models.BookingCreationModel
@{  
    Layout = "_Layout";

    ViewData["Title"] = "What next?";
    <h1 style="text-align: center; margin-top: auto">So guys we did it :)</h1>
   
    <h3>Passenger:@TempData["Passenger"]</h3>
    <h3>Flight:@TempData["SelectedFlight"]</h3>

    
}