@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model UCNAirlinesWebpage.Models.ReceiptModel

@if (@Model == null)
{
    <h1>Booking ERROR</h1>

}
else
{
    <h1>Booking Saved</h1>
}
<ul>
   @*  @foreach (var passenger in Model.booking.passengers)
    {
        <li>@passenger.FirstName @passenger.LastName</li>
    } *@
    @* <li>Departure: @Model.booking.Flight.Departure Destination: @Model.booking.Flight.Route.EndDestination </li> *@
</ul>