@using UCNAirlinesWebpage.Models
@model List<Flight>

<h1>Available Flights</h1>

@if (Model != null && Model.Any())
{
	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>Departure</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var flight in Model)
			{
				<tr>
					<td>@flight.Airplane.AirplaneId</td>
					<td>@flight.Route.StartDestination</td>
					<td>@flight.Departure</td>
				</tr>
			}
		</tbody>
	</table>
}
else
{
	<p>No flights found for the selected date.</p>
}