
@* @model UCNAirlinesWebpage.Pages.IndexModel
 *@@{
}

<h1 style="text-align: center; margin-top: auto">Book Your Trip</h1>

<br />
<br />

<form method="get" asp-controller="Flight" asp-action="SelectFlight">
	<label>From:</label>
	<select id="fromSelect" name="from" onchange="updateToOptions()" required>
		<option value="">-- selected Departure --</option>
		<option value="Aalborg">Aalborg</option>
		<option value="Nuuk">Nuuk</option>
	</select>

	<label>To:</label>
	<select id="toSelect" name="to" required>
		<option value="">-- selected Arrival --</option>
		<option value="Aalborg">Aalborg</option>
		<option value="Nuuk">Nuuk</option>
	</select>

<br />
<br />

	<label>Date:</label>
	<input type="date" name="date" min="@DateTime.Today.ToString("yyyy-MM-dd")" required />

<br />
<br />
	
	<label>Passenger:</label>
	<select name="passenger" required>
		<option value="">-- select passenger --</option>
		<option value="1">1</option>
		<option value="2">2</option>
		<option value="3">3</option>
		<option value="4">4</option>
		<option value="5">5</option>
		<option value="6">6</option>
		<option value="7">7</option>
		<option value="8">8</option>
		<option value="9">9</option>
		<option value="10">10</option>
	</select>

<br />
<br />
	
<button type="Submit">Select</button>

</form>

<script>
	function updateToOptions()
	{
		var fromSelect = document.getElementById('fromSelect');
		var toSelect = document.getElementById('toSelect');
		var selectedFrom = fromSelect.value;

		var allOptions = [
			{ value: "Aalborg", text: "Aalborg"},
			{ value: "Nuuk", text: "Nuuk"}
		];

		toSelect.innerHTML = '<option value="">--select Destination--</option>';

		for (var i = 0; i < allOptions.length; i++)
			{
				if (allOptions[i].value !== selectedFrom)
				{
					var option = document.createElement("option");
					option.value = allOptions[i].value;
					option.text = allOptions[i].text;
					toSelect.appendChild(option);
				}
			}
	}
</script>