@using UCNAirlinesWebpage.Models
@model UCNAirlinesWebpage.Models.FlightSearchModel
@{  
    ViewData["Title"] = "What next?";
    <h1 style="text-align: center; margin-top: auto">So guys we did it</h1>

}