@model List<MVC.Models.Airplane>

@{
    ViewData["Title"] = "Airplanes";
}

<h1> List of airplanes </h1>

@foreach (var m in Model)
{
    <p> @m <br /> </p>
}

<h2> Some form </h2>

<legend>Post an airplane</legend>

<form id="airplanepost">
    Airplane ID: <input type="text" name="airplaneid" value=""><br>
    Airplane Model: <input type="text" name="model" value="">
    Seat rows: <input type="number" name="rows" value="">
    Seat columns: <input type="number" name="rows" value="">
</form>

<button onclick="postAirplane()">Post</button>
