@model List<MVC.Models.Airplane>

@{
    ViewData["Title"] = "Airplanes";
}

<h1> List of airplanes </h1>

@foreach (var m in Model)
{
    <p> @m <br /> </p>
}

<h2> Some form </h2>

<form method="post">
    <fieldset>
        <legend>Something 1</legend>
        <div>
            <label for="Airplane">Airplane:</label>
            <input type="text" name="Airplane" value="" />
        </div>

        <div>
            <label>&nbsp;</label>
            <input type="submit" value="Submit" class="submit" />
        </div>
    </fieldset>
</form>
